doctype html
html(lang="en")
    head
        title Add Workshop
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/addWorkshopStyles.css")
    body
        header
            nav.navbar
                h1 Open Gallery!
                div.nav-links
                    a(href="/search") Search
                    a(href="/account-management") Account Management
                    a(href="/gallery") Gallery
                    a(href="/logout") Logout
        main
            form(action="/addWorkshop" method="post")
                label(for="title") Title:
                input(type="text" id="title" name="title" required)
                
                label(for="description") Description:
                textarea(id="description" name="description" required)
                
                label(for="date") Date:
                input(type="date" id="date" name="date" required)
                
                button(type="submit") Submit Workshop