doctype html
html(lang="en")
    head
        title Sign up
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/forgot-password.css")
        script(src="/forgot-password.js")
    body
        header
            nav.header
                h1.GalleryLogin Gallery Login
        main.centered-container
            section.login-box
                h2 Forgot your password?
                form#SignUpForm()
                .input-group
                    label(for="Email") Email:
                    input#Email(type="text" name="Email" placeholder="A confirmation will be sent to your email!" required)
                button.btn(id="confirmation" type="submit" onclick="submitConfirmation()") Send confirmation!
                .login-options
                    a(href="/login") Log in
                    span | 
                    a(href="/signup") Sign Up